@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4625b;
  color: white;
  text-align: center;
}

.top-half-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 30vh; /* 30% висоти вікна */
  padding-bottom: 5px;
}

.bottom-half-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  padding: 10px 0;
  box-sizing: border-box;
}

.auth-content-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 90%;
}


.logo-icon-large {
  width: 25vh;
  height: 25vh;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.heart-svg-large {
  fill: #f4625b;
  width: 60%;
  height: 60%;
}

.logo-text {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0px #e75a52, 3px 3px 0px #b03c37;
}



.tab-button {
  padding: 10px 0;
  flex-grow: 1;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tab-login {
  background-color: white;
  color: #f4625b;
  margin-right: 5px;
}

.tab-register {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  margin-left: 5px;
}

.action-button-white {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: #999;
  text-align: center;
  background-color: white;
  font-weight: 400;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.1s;
}

.main-register-button {
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background-color: white;
  color: #f4625b;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.forgot-password,
.already-account {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.forgot-password {
  align-self: flex-end;
  margin-bottom: 5px;
}

.link-login {
  font-weight: bold;
  text-decoration: underline;
}
